.search-form {
    display: flex;
    width: 100%;
    max-width: 100%;
}

.search-input {
    flex: 1;
    padding: 0.5rem 0.75rem;
    border: 1px solid #d1d5db; /* gray-300 */
    border-radius: 0.375rem 0 0 0.375rem;
    font-size: 0.9rem;
}

.search-input:focus {
    outline: none;
    border-color: #2563eb; /* blue-600 */
    box-shadow: 0 0 0 2px rgba(37, 99, 235, 0.3);
}

.search-button {
    background-color: #2563eb; /* blue-600 */
    color: white;
    padding: 0 0.75rem;
    border: 1px solid #2563eb;
    border-radius: 0 0.375rem 0.375rem 0;
    text-shadow:
        1px 1px 0 lightblue,
        -1px -1px 0 lightblue,
        0px -1.5px 0 lightblue,
        1.25px 0px 0 lightblue,
        1px -1px 0 lightblue,
        -.75px .75px 0 lightblue;
    font-size: 1rem;
    cursor: pointer;
}

.search-button:focus {
    outline: none;
    box-shadow: 0 0 0 2px rgba(37, 99, 235, 0.3);
}
